@tailwind base;
@tailwind components;
@tailwind utilities;


.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .3);
    display: inline-block;
    margin: auto 6px;
}

@layer base {
    h1 {
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    h2 {
        display: block;
        font-size: 1.5em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    h3 {
        display: block;
        font-size: 1.17em;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    h4 {
        display: block;
        font-size: 1em;
        margin-top: 1.33em;
        margin-bottom: 1.33em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    h5 {
        display: block;
        font-size: .83em;
        margin-top: 1.67em;
        margin-bottom: 1.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    h6 {
        display: block;
        font-size: .67em;
        margin-top: 2.33em;
        margin-bottom: 2.33em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    body {
        @apply text-white bg-background
    }

    button.btn {
        @apply p-2 my-2 bg-secondary rounded-lg border-2 border-transparent hover:bg-transparent hover:border-secondary disabled:bg-gray-300 disabled:cursor-not-allowed
    }

    input[type=range] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        cursor: pointer;
    }

    input[type="range"]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        @apply bg-primary h-[8px] rounded-lg cursor-pointer
    }

    input[type=range]::-moz-range-track {
        @apply bg-primary h-[8px] rounded-lg cursor-pointer
    }

    input[type=range]::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
        margin-top: -3px;
        @apply bg-secondary h-[14px] w-[14px] rounded-full
    }

    input[type=range]::-moz-range-thumb {
        appearance: none;
        -moz-appearance: none;
        border: none;
        margin: 0;
        padding: 0;
        @apply bg-secondary h-[14px] w-[14px] rounded-full my-auto
    }

    /***** Chrome, Safari, Opera, and Edge Chromium *****/
    input[type="range"]:focus::-webkit-slider-thumb {
        border: 1px solid #053a5f;
        outline: 3px solid #053a5f;
        outline-offset: 0.125rem;
    }

    /******** Firefox ********/
    input[type="range"]:focus::-moz-range-thumb {
        border: 1px solid #053a5f;
        outline: 3px solid #053a5f;
        outline-offset: 0.125rem;
    }
}
